@import "../../../../../globalscss/Functions.scss";
@import "../../../../../globalscss/Colors.scss";

.inventorypanel-container{
    width: 100%;
    height: 100%;

    @include centerFlex(center, center, column);
}
.inventorypanel{
    max-width: 700px;
    height: 327px;

    overflow-y: auto;
    overflow-x: hidden;
    @include centerFlex(flex-start, center, column);
    &-search{
        text-align: center;
        input[type=text] {
            width: 100%;
            padding: 6px 10px;
            margin: 5px 0 5px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
    &-items{
        width: 100%;
        height: auto;
        @include centerFlex(center, center, row);
        flex-wrap: wrap;
    }
    &-selection{
        width: 100%;
        height: auto;
    
        @include centerFlex(center, center, row);
        &-button{
            width: 200px;
            height: auto;
            background-color: $blue-3;

            color: white;
            border-radius: 7px;
            margin: 20px;
            padding: 20px 0;
            text-align: center;

            @include centerFlex(center, center, column);
            p{
                font-size: 4em;
            }
            cursor: pointer;
            transition: transform 200ms ease-in-out;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}