.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard-data {
  width: 60%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dashboard-data-info {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard-data-info-left {
  width: 500px;
  height: 90%;
  margin: 30px 0;
  padding: 0 40px;
  border-right: 1px solid #cfcfcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.dashboard-data-info-left input[type=text] {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  color: #313131;
  background-color: #e2e2e2;
}

.dashboard-data-info-right {
  width: 260px;
  height: 90%;
  border-radius: 10px;
  padding: 0 20px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-data-info-state {
  width: 100%;
  height: auto;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard-data-info-state img {
  border-radius: 50%;
  height: 100%;
  width: auto;
}

.dashboard-data-info-state-reload {
  width: 49%;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #235DA8;
  transition: background-color 100ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard-data-info-state-reload:hover {
  background-color: #13335C;
}

.dashboard-data-info-state-off {
  width: 49%;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #3180E8;
  transition: background-color 100ms ease-in-out;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard-data-info-state-off:hover {
  background-color: #bb0000;
}

.dashboard-data-info-address {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.dashboard-data-info-version {
  width: 100%;
  height: 70px;
  margin: 10px 0;
  border: 1px solid #e9e9e9;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard-data-info-version-info {
  width: 45%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-data-info-version-icon {
  width: auto;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard-data-info-version button {
  padding: 5px 15px;
}

.dashboard-data-info-infomessage {
  position: absolute;
  bottom: 0;
  color: #313131;
}

.dashboard-data-info-motd {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.dashboard-data-info-broadcast {
  width: 100%;
  margin-bottom: 10px;
}

.dashboard-data-info-broadcast input[type=text] {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  color: #313131;
  background-color: white;
}

.dashboard-data-info-icon {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dashboard-data-info-icon img {
  width: 100px;
  height: auto;
  border: 3px solid #a7a7a7;
  border-radius: 15px;
}

.dashboard-data-info-playercount {
  width: 100%;
  margin: 10px;
  height: auto;
  text-align: center;
}

.dashboard-data-info-memory {
  width: 100%;
  margin: 10px;
  height: auto;
  text-align: center;
}

.dashboard-data-chat {
  height: 355px;
  width: 100%;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 50px;
}

.dashboard-data-chat-sort {
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboard-data-chat-sort input[type=text] {
  width: calc(100% - 200px - 20px);
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dashboard-players {
  width: 35%;
  height: 90%;
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dashboard-players-player {
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #3180E8;
  cursor: default;
  color: white;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: background-color 100ms ease-in-out;
}

.dashboard-players-player:hover {
  background-color: #235DA8;
}

.dashboard-players-player img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  object-fit: cover;
}

.dashboard-players-player-front {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-players-player-displayname {
  width: auto;
  text-align: center;
}

.dashboard-players-player-ip {
  width: auto;
  text-align: center;
}

.dashboard-players-player-world {
  width: auto;
  text-align: center;
}
/*# sourceMappingURL=DashboardStyle.css.map */