@import '../../../../globalscss/Functions.scss';
@import '../../../../globalscss/Colors.scss';

.dashboard{
    width: 100%;
    height: 100%;

    @include centerFlex(center, center, row);
    flex-wrap: wrap;

    &-data{
        width: 60%;
        height: 100%;

        color: black;
        @include centerFlex(space-between, center, column);
        &-info{
            height: 50%;
            width: 100%;

            @include centerFlex(center, center, row);
            &-container{
                width: 100%;
                height: 230px;

                overflow-x: hidden;
                overflow-y: auto;
            }
            &-left{
                width: 500px;
                height: 90%;

                margin: 30px 0;
                padding: 0 40px;

                border-right: 1px solid rgb(207, 207, 207);

                @include centerFlex(center, flex-start, column);
            }
            &-right{
                width: 260px;
                height: 90%;

                border-radius: 10px;
                padding: 0 20px;
                margin: 30px 0;

                @include centerFlex(space-evenly, center, column);
            }

            &-state{
                width: 100%;
                height: auto;

                color: white;
                border-radius: 50%;
                @include centerFlex(center, center, row);
                img{
                    border-radius: 50%;
                    height: 100%;
                    width: auto;
                }
                &-reload{
                    width: 49%;
                    height: 35px;
                    border-radius: 10px;
                    cursor: pointer;
                    background-color: $blue-2;
                    transition: background-color 100ms ease-in-out;
                    
                    @include centerFlex(center, center, row);
                    &:hover{
                        background-color: $blue-3;
                    }
                    svg{
                        transition: transform 300ms ease-in-out;
                        &:hover{
                            transform: rotate(360deg);
                        }
                    }
                }
                &-off{
                    width: 49%;
                    height: 35px;
                    border-radius: 10px;
                    cursor: pointer;
                    background-color: $blue-1;
                    transition: background-color 100ms ease-in-out;
                    margin-right: 10px;

                    @include centerFlex(center, center, row);
                    &:hover{
                        background-color: rgb(187, 0, 0);
                    }
                }
            }
            &-address{
                width: 100%;

                @include centerFlex(center, flex-start, column);
                &-container{
                    width: 100%;

                    @include centerFlex(center, center, row);
                }
                input[type=text] {
                    width: 80%;
                    height: 30px;
                    padding: 5px 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-right: 10px;
                    color: rgb(49, 49, 49);

                    background-color: rgb(235, 235, 235);
                }
            }
            &-version{
                width: 100%;
                height: 70px;

                margin: 10px 0;

                border: 1px solid rgb(233, 233, 233);
                background-color: white;
                border-radius: 10px;

                @include centerFlex(center, center, row);
                &-info{
                    width: 45%;
                    height: 100%;
                    padding: 0 20px;
                    @include centerFlex(center, center, column);
                }
                &-icon{
                    width: auto;
                    height: 100%;
                    object-fit: contain;
                    
                    border-radius: 10px;
                    @include centerFlex(center, center, row);
                }
                button{
                    padding: 5px 15px;
                }
            }
            &-infomessage{
                position: absolute;
                bottom: 0;
                color: rgb(49, 49, 49);
            }
            &-motd{
                width: 100%;

                margin: 10px 0;

                @include centerFlex(center, flex-start, column);
                input[type=text] {
                    width: 100%;
                    padding: 5px 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-top: 5px;
                    color: rgb(49, 49, 49);

                    background-color: rgb(235, 235, 235);
                }
            }
            &-broadcast{
                width: 100%;
                margin-bottom: 10px;
                input[type=text] {
                    width: 100%;
                    padding: 5px 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-top: 5px;
                    color: rgb(49, 49, 49);

                    background-color: white;
                }
            }
            &-icon{
                width: 100%;
                height: auto;

                @include centerFlex(center, center, column);
                cursor: pointer;
                img{
                    width: 100px;
                    height: auto;

                    border: 3px solid rgb(167, 167, 167);
                    border-radius: 15px;
                }
            }
            &-playercount{
                width: 100%;
                margin: 10px;
                height: auto;
                
                text-align: center;
            }
            &-memory{
                width: 100%;
                margin: 10px;
                height: auto;

                text-align: center;
            }
        }
        &-chat{
            height: 355px;
            width: 100%;
            border-top: 1px solid rgb(207, 207, 207);
            border-bottom: 1px solid rgb(207, 207, 207);
            margin-bottom: 50px;
            &-sort{
                height: auto;
                margin: 10px 0;
                @include centerFlex(space-between, center, row);
                input[type=text] {
                    width: calc(100% - 200px - 20px);
                    padding: 8px 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
            }
        }
    }
    &-players{
        width: 35%;
        height: 90%;

        padding: 20px;
        overflow: hidden;
        overflow-y: scroll;
        overflow-x: hidden;

        &-player{
            width: auto;
            height: auto;

            padding: 10px 15px;
            border-radius: 10px;
            background-color: $blue-1;
            cursor: default;
            color: white;
            margin: 5px 0;

            @include centerFlex(space-between, center, row);
            flex-wrap: wrap;
            transition: background-color 100ms ease-in-out;
            &:hover{
                background-color: $blue-2;
            }
            img{
                width: 25px;
                height: 25px;
                margin-right: 15px;

                image-rendering: pixelated;
                image-rendering: -moz-crisp-edges;
                image-rendering: crisp-edges;
                object-fit: cover;
            }
            &-front{
                @include centerFlex(flex-start, center, row);
            }
            &-displayname{
                width: auto;
                text-align: center;
            }
            &-ip{
                width: auto;
                text-align: center;
            }
            &-world{
                width: auto;
                text-align: center;
            }
        }
    }
}