@import '../../globalscss/Functions.scss';
@import '../../globalscss/Colors.scss';

.settingselector{
    width: 100%;
    min-height: 100vh;

    @include centerFlex(center, center, column);
    h1{
        color: white;
        margin-bottom: 20px;
        text-align: center;
        font-size: 2em;
    }
    a{
        text-decoration: none;
    }
    &-buttons{
        width: 100%;
        height: auto;
        
        @include centerFlex(center, center, row);
        flex-wrap: wrap;
    }
}