@import '../../../globalscss/Functions.scss';
@import '../../../globalscss/Colors.scss';

.servertab{
    @media only screen and (max-width: 800px) {
        width: 300px;
        min-height: auto;

        @include centerFlex(space-between, center, column);
    }
    @media only screen and (min-width: 800px) {
        width: 800px;
        min-height: 50px;

        @include centerFlex(space-between, center, row);
    }

    border-radius: 6px;
    background-color: white;

    padding: 5px 20px;
    margin: 10px 0;

    &:hover{
        background-color: rgb(243, 243, 243);
    }
    &-id{
        @media only screen and (max-width: 800px) {
            height: 0;
            opacity: 0;
        }
        @media only screen and (min-width: 800px) {
            width: auto;
            height: 100%;
    
            cursor: pointer;
    
            @include centerFlex(center, center, row);
            &:hover{
                color: rgb(83, 83, 83);
            }
        }
    }
    &-image{
        @include centerFlex(center, center, row);
        @media only screen and (max-width: 800px) {
            width: 100px;
            height: auto;
            margin: 10px;
        }
        @media only screen and (min-width: 800px) {
            width: 35px;
            height: 35px;
        }
    }
    &-ip{
        width: 240px;
        height: 100%;
        @include centerFlex(center, center, row);
    }
    &-beheren{
        width: 200px;
        height: 30px;
        @include centerFlex(center, center, row);
    }
    &-state{
        width: 15px;
        height: 15px;
        @include centerFlex(center, center, row);
    }
    &-verticalline{
        @media only screen and (max-width: 800px) {
            height: 0;
            opacity: 0;
        }
        @media only screen and (min-width: 800px) {
            width: 10px;
            height: 20px;
        }

    }
    a{
        text-decoration: none;
    }
}