@import "../../../globalscss/Functions.scss";
@import "../../../globalscss/Colors.scss";

.serverpage-container {
  width: 100vw;
  min-height: 100vh;

  padding: 40px 0;
  @include centerFlex(flex-start, center, column);
  h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  p {
    color: white;
  }
}
