@import '../../../globalscss/Functions.scss';
@import '../../../globalscss/Colors.scss';

.homepage-container{
    width: 100vw;
    min-height: 100vh;

    background-color: #ffbf11;

    @include centerFlex(center, center, row);
}
.homepage{
    &-panel{
        width: 60%;
        height: 500px;

        @include centerFlex(center, center, row);
    }
    &-left{
        width: 50%;
        height: 100%;
        background-color: white;

        @include centerFlex(center, center, column);
        a{
            text-decoration: none;
            color: white;
            font-size: 1.5em;      
        }
        &-button{
            width: 250px;
            height: 100px;
            
            background-color: #1a69db;
            @include centerFlex(center, center, column);
    
            cursor: pointer;
            transition: transform 100ms ease-in-out, border-radius 100ms ease-in-out;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    &-right{
        width: 50%;
        height: 100%;
        background-color: #1a69db;

        padding: 20px;
        color: white;
    }
}