@import '../../../globalscss/Functions.scss';
@import '../../../globalscss/Colors.scss';

.homepage-container{
    width: 100vw;
    min-height: 100vh;

    @include centerFlex(center, center, row);
}
.homepage-buttons{
    width: 100%;
    height: auto;
    margin: 0 20px;

    @include centerFlex(center, center, row);
    &-home{
        width: 250px;
        height: 250px;
        
        background-color: $yellow-2;
        border-radius: 100%;
        @include centerFlex(center, center, column);

        cursor: pointer;
        transition: transform 100ms ease-in-out, border-radius 100ms ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 1.5em;      
    }
}