@import '../../../globalscss/Functions.scss';
@import '../../../globalscss/Colors.scss';

.homepage-container{
    width: 100vw;
    min-height: 100vh;

    background-color: #ffbf11;

    @include centerFlex(center, center, row);
}
.homepage{
    &-panel{
        width: 90%;
        height: 100%;

        @include centerFlex(center, center, column);
        &-info{
            width: 550px;
            @include centerFlex(center, center, row);
            flex-wrap: wrap;
        }
        &-button{
            width: 520px;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    &-tab{
        width: 250px;
        height: 220px;

        background-color: white;
        margin: 10px;
        padding: 20px;
        h4{
            color: black;
            text-align: right;
        }
        p{
            color: rgb(87, 87, 87);
            text-align: right;
        }
        img{
            width: auto;
            height: 50px;
            margin-bottom: 5px
        }
        transition: transform 100ms ease-in-out;
        cursor: default;
        &:hover{
            transform: scale(1.05)
        }
        @include centerFlex(flex-start, flex-end, column);
    }
}