@import "../../../../../../globalscss/Functions.scss";
@import "../../../../../../globalscss/Colors.scss";

$itemsize: 50px;
.item{
    width: $itemsize;
    height: $itemsize;

    margin: 2px;
    padding: 3px;
    border: 1px solid rgb(160, 160, 160);

    cursor: pointer;

    @include centerFlex(flex-start, center, column);
    transition: background-color 100ms ease-in-out;
    &:hover{
        &:hover{
            background-color: rgb(231, 231, 231);
        }
    }
    &-contextmenu{
        position: absolute;
        z-index: 10;
    }
    &-context{
        &-button{
            span{
                margin-left: 10px;
                @include centerFlex(center, center, row);
            }
        }       
    }
    &-type{
        text-transform: capitalize;
    }
    &-amount{
        margin: -12px 0 0 calc($itemsize - 10px);
    }
    &-tooltip{
        @include centerFlex(center, flex-start, column);
    }
    &-menu{
        &-buttons{
            padding: 0 5px;
            background-color: white;
            border: 1px solid rgb(192, 192, 192);
            color: black;
        }
        &-button{
            margin: 10px 0;
            padding: 3px 20px;
            border-radius: 3px;
            cursor: pointer;

            @include centerFlex(flex-start, center, row);
            &:hover{
                background-color: rgb(226, 226, 226);
            }
        }
    }
}